<h1 style="font-size:3rem; color:orange;">Python Tutorial</h1>

<h1 style="font-size:2rem; color:orange;">Python Tutorial</h1>

## Manipulating lists for fun and profit

In [18]:
# Create a list containing the names: baby_names
baby_names = ['Ximena','Aliza', 'Ayden', 'Calvin']

# Extend baby_names with 'Rowen' and 'Sandeep'
baby_names_new= ['Rowen', 'Sandeep']
baby_names.extend(baby_names_new)
print(baby_names)

# Find the position of 'Rowen': position
position = baby_names.index('Rowen')

# Remove 'Rowen' from baby_names
baby_names.pop(position)

# Print baby_names
print(baby_names)

['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Rowen', 'Sandeep']
['Ximena', 'Aliza', 'Ayden', 'Calvin', 'Sandeep']

## Looping over lists

In [ ]:
# Create the list comprehension: baby_names
baby_names = [item[3] for item in records]
    
# Print the sorted the names in alphabetical order
print(sorted(baby_names))

['Abigail', 'Addison', 'Amelia', 'Aubrey', 'Ava', 'Avery', 'Brooklyn', 'Charlotte', 'Chloe', 'Elizabeth', 'Ella', 'Emily', 'Emma', 'Evelyn', 'Grace', 'Harper', 'Isabella', 'Lillian', 'Madison', 'Mia', 'Natalie', 'Olivia', 'Sofia', 'Sophia', 'Victoria', 'Zoey']

## Using and unpacking tuples

In [ ]:
# Pair up the girl and boy names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for rank, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print(f'Rank {rank+1}: {girl_name} and {boy_name}')

Rank 1: Jada and Josiah
Rank 2: Emily and Ethan
Rank 3: Ava and David
Rank 4: Serenity and Jayden
Rank 5: Claire and Mason
Rank 6: Sophia and Ryan
Rank 7: Sarah and Christian
Rank 8: Ashley and Isaiah
Rank 9: Chaya and Jayden
Rank 10: Abigail and Michael
Rank 11: Zoe and Noah
Rank 12: Leah and Samuel
Rank 13: Hailey and Sebastian
Rank 14: Ava and Noah
Rank 15: Olivia and Dylan
Rank 16: Emma and Lucas
Rank 17: Chloe and Joshua
Rank 18: Sophia and Angel
Rank 19: Aaliyah and Jacob
Rank 20: Angela and Matthew
Rank 21: Camila and Josiah
Rank 22: Savannah and Jacob
Rank 23: Serenity and Muhammad
Rank 24: Chloe and Alexander
Rank 25: Fatoumata and Jason

## Formatted String Literals ("f" strings)

In [ ]:
# Loop over top_ten_girl_names and unpack each tuple into top_ten_rank and name
for top_ten_rank, name in top_ten_girl_names:
  	# Print each name in the proper format
    print(f"Rank #: { top_ten_rank } - { name }")

Rank #: 1 - Jada
Rank #: 2 - Emily
Rank #: 3 - Ava
Rank #: 4 - Serenity
Rank #: 5 - Claire
Rank #: 6 - Sophia
Rank #: 7 - Sarah
Rank #: 8 - Ashley
Rank #: 9 - Chaya
Rank #: 10 - Abigail

## Combining multiple strings